<ion-content fullscreen class="address-content">
  <div class="mx-auto max-w-4xl px-4 bg-orange-300 py-3 h-screen overflow-auto">
    <!--  Header -->
    <div class="mb-2">
      <div class="flex items-center justify-between gap-3 mb-4">
        <ion-button fill="clear" routerLink="/dashboard" class="text-black">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
        <h1 class="text-xl font-bold text-slate-900">Saved Addresses</h1>
        <ion-button fill="clear" class="text-black" (click)="toggleAddForm()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="space-y-3 mt-4">
      @if(savedAddresses().length === 0 && !showAddForm){
      <p class="empty-state">
        No saved addresses yet. Tap + to add your first address.
      </p>
      }@else if (savedAddresses().length > 0 && !showAddForm) {
      <div class="bg-white rounded-2xl p-4 shadow-sm border border-gray-100">
        @for(address of savedAddresses();track address._id){
        <div
          (click)="selectAddress(address)"
          class="flex items-start justify-between gap-3 border-b last:border-b-0 last:mb-0 border-gray-300 pb-2 mb-2"
        >
          <!-- Left -->
          <div class="flex gap-3 flex-1">
            <!-- Location Icon -->
            <div
              class="w-11 h-11 min-w-11 rounded-full bg-orange-100 flex items-center justify-center"
            >
              <ion-icon name="location" class="text-orange-500 text-lg">
              </ion-icon>
            </div>

            <!-- Address Content -->
            <div class="flex-1">
              <!-- Address Type -->
              <div class="mb-2">
                <span
                  class="px-3 py-1 rounded-full text-xs font-semibold uppercase bg-green-100 text-green-700"
                >
                  {{ address.type }}
                </span>
              </div>

              <!-- Main Address -->
              <p class="text-sm font-semibold text-gray-800 leading-5">
                {{ address.street }}
              </p>

              <!-- Secondary -->
              <p class="text-sm text-gray-500 mt-1">
                {{ address.city }}, {{ address.state }}, {{ address.zipCode }}
              </p>
            </div>
          </div>

          <!-- Actions -->
          <div class="flex flex-col">
            <ion-button fill="clear" size="small" class="text-gray-500" (click)="editAddress(address)">
              <ion-icon name="create-outline" slot="icon-only"> </ion-icon>
            </ion-button>

            <ion-button fill="clear" size="small" color="danger" (click)="deleteAddress(address)">
              <ion-icon name="trash-outline" slot="icon-only"> </ion-icon>
            </ion-button>
          </div>
        </div>
        }
      </div>
      }
    </div>

    @if(showAddForm){
    <div class="form-container bg-white p-4 rounded-lg shadow-md">
      <h1 class="mb-4 font-bold">Add new address</h1>

      <div class="map-card">
        <input
          #searchInput
          type="text"
          [(ngModel)]="searchQuery"
          (input)="searchPlaces()"
          placeholder="Search location"
          class="w-full h-10 bg-white p-4 border border-gray-300 rounded-xl shadow-lg outline-none"
        />
        <!-- Search Results -->
        @if(searchResults.length){

        <div class="bg-white rounded-xl mt-2 shadow-lg max-h-60 overflow-auto">
          @for(item of searchResults; track item.place_id){

          <div (click)="selectPlace(item)" class="p-3 border-b cursor-pointer">
            {{ item.display_name }}
          </div>

          }
        </div>

        }
        <!-- @if(platform.is('hybrid')){
        <capacitor-google-map #map id="map"> </capacitor-google-map>
        } @else {
        <div #map id="map" class="w-full h-[300px] rounded-xl"></div>
        } -->
        <div
          #map
          id="map"
          class="relative w-full mt-2 h-[400px] rounded-2xl overflow-hidden"
        >
          <button
            (click)="goToCurrentLocation()"
            class="absolute bottom-2 left-2 z-[1000] bg-white w-14 h-14 rounded-full shadow-xl"
          >
            📍
          </button>
        </div>
      </div>

      <ion-modal
        [isOpen]="isSheetOpen()"
        [initialBreakpoint]="0.60"
        [breakpoints]="[0, 0.8]"
        handle="true"
        (didDismiss)="isSheetOpen.set(false)"
      >
        <ng-template>
          <ion-content class="ion-padding">
            <h2>Complete Address</h2>

            <p class="text-gray-500 text-sm mb-4">{{ selectedAddress() }}</p>

            <ion-item>
              <ion-input
                label="House / Flat No."
                labelPlacement="stacked"
                [(ngModel)]="newAddress.street"
              >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="City"
                labelPlacement="stacked"
                [(ngModel)]="newAddress.city"
              >
              </ion-input>
            </ion-item>

            <div class="mb-4">
              <label class="block text-sm font-semibold text-gray-800 mb-2">Address Type</label>
              <div class="flex gap-3">
               <button
                  *ngFor="let option of ['home', 'work', 'other']"
                  (click)="newAddress.type = option"
                  [ngClass]="{
                    'bg-green-500 text-white': newAddress.type === option,
                    'bg-gray-200 text-gray-700': newAddress.type !== option
                  }"
                  class="px-4 py-2 rounded-full font-semibold text-sm transition"
                >
                  {{ option | titlecase }}
                </button>
              </div>
            </div>

            <ion-button
              expand="block"
              color="success"
              class="mt-4"
              [disabled]="!isFormValid()"
              (click)="newAddress._id ? updateAddress() : saveAddress()"
            >
           {{ newAddress._id ? 'Update Address' : 'Save Address' }}
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
    }
  </div>
</ion-content>
