<ion-card
  button="false"
  class="pointer-events-auto product-card m-0 overflow-hidden rounded-[0.5rem] border border-gray-100 bg-white shadow-none"
>
  <div
    class="relative flex items-center justify-center rounded-[0.5rem] bg-[#f8f8f8] p-3"
  >
    <!-- Discount -->
    @if ((item.discountPercentage ?? 0) > 0) {
    <div
      class="absolute left-2 top-2 rounded-[0.5rem] bg-pink-500 px-2 py-1 text-[11px] font-bold leading-tight text-white"
    >
      {{ item.discountPercentage }}% OFF
    </div>
    }

    <!-- Wishlist -->
    <!-- <button
      class="absolute right-2 top-2 flex h-8 w-8 items-center justify-center rounded-full bg-white shadow-sm"
    >
      <ion-icon name="heart-outline" class="text-lg text-gray-500"> </ion-icon>
    </button> -->

    <!-- Product Image -->
    <img
      [src]="item.image || './assets/icon/favicon.png'"
      [alt]="item.name"
      class="h-32 object-contain"
    />

    <!-- Add / Quantity -->
    <div class="absolute bottom-2 right-2">
      @if ((item.quantity ?? 0) > 0) {
        <div
          class="flex h-9 items-center justify-between rounded-[0.5rem] border border-pink-500 bg-pink-700 px-2 shadow-sm"
        >
          <button
            class="px-2 text-lg font-bold text-white"
            (click)="decrease(item)"
          >
            <ion-icon name="remove" class="text-white text-xl stroke-[48]"/>
          </button>

          <span
            class="min-w-[20px] text-center text-[14px] font-bold text-white"
          >
            {{ item.quantity }}
          </span>

          <button
            class="px-2 text-lg font-bold text-white"
            (click)="increase(item)"
          >
            <ion-icon name="add" class="text-white text-xl stroke-[48]"/>
          </button>
        </div>
      } @else {
        <ion-button
          size="small"
          fill="outline"
          color="danger"
          class="add-btn bg-white"
          (click)="increase(item)"
        >
          ADD
        </ion-button>
      }
    </div>
  </div>

  <ion-card-content class="p-3">
    <h2 class="text-[15px] font-semibold leading-5 text-gray-900 line-clamp-2 truncate">
      {{ item.name }}
    </h2>
    <div class="mt-2 flex items-center gap-2">
      <span class="text-[20px] font-bold text-black">
        {{ discountedPrice() | currency: "INR" : "symbol" }}
      </span>

      <span class="text-[14px] text-gray-400 line-through">
        {{item.price.amount | currency: "INR" : "symbol" }}
      </span>
    </div>

    <!-- <div class="mt-3">
      @if (item.quantity > 0) {
        <div
          class="flex h-10 items-center justify-between rounded-[0.5rem] border border-pink-500 px-2"
        >
          <button
            class="px-2 text-xl font-bold text-pink-500"
            (click)="decrease(item)"
          >
            -
          </button>

          <span class="text-[15px] font-bold text-pink-500">
            {{ item.quantity }}
          </span>

          <button
            class="px-2 text-xl font-bold text-pink-500"
            (click)="increase(item)"
          >
            +
          </button>
        </div>
      } @else {
        <ion-button
          fill="outline"
          color="danger"
          (click)="increase(item)"
        >
          ADD
        </ion-button>
      }
    </div> -->
  </ion-card-content>
</ion-card>
