.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
    margin: 2%;

  &:active {
    transform: scale(0.98);
  }

  ion-card-content{
    margin: 0 auto;
    padding: 0 5% 10%;
  }
}

.image-wrapper {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    max-height: 100px;
    object-fit: contain;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0;
}

.description {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.quantity-section {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  border-radius: 20px;
  padding: 2px 6px;

  .quantity {
    min-width: 24px;
    text-align: center;
    font-weight: 600;
  }
}